<settings>

  <!--
  <servers>
    <server>
      <id>public</id>
      <username></username>
      <password></password>
    </server>
    <server>
      <id>public snapshot</id>
      <username></username>
      <password></password>
    </server>
    <server>
      <id>project release</id>
      <username></username>
      <password></password>
    </server>
    <server>
      <id>project snapshot</id>
      <username></username>
      <password></password>
    </server>    
  </servers>
  -->

  <!--
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <id></id>
      <name></name>
      <url></url>
    </mirror>
  </mirrors>
  -->

  <!--
  <proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host></host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost|*.somewhere.com|*.somewhereelse.com</nonProxyHosts>
    </proxy>
    <proxy>
      <active>true</active>
      <protocol>https</protocol>
      <host></host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>
  </proxies>
  -->

  <activeProfiles>
    <activeProfile>liferayRepos</activeProfile>
    <activeProfile>otherRepos</activeProfile>
    <activeProfile>liferayofthings</activeProfile>
  </activeProfiles>

  <profiles>

    <profile>
        <id>liferayRepos</id>
        <repositories>
          <repository>
            <id>Liferay CE Releases</id>
            <url>https://repository.liferay.com/nexus/content/repositories/liferay-releases-ce/</url>
          </repository>
          <repository>
            <id>Liferay CE Snapshots</id>
            <url>https://repository.liferay.com/nexus/content/repositories/liferay-snapshots-ce/</url>
          </repository>
        </repositories>

        <pluginRepositories>
            <pluginRepository>
                <id>Liferay CE Repo Plugins</id>
                <url>https://repository.liferay.com/nexus/content/repositories/liferay-releases-ce/</url> 
                <releases><enabled>true</enabled></releases>
                <snapshots><enabled>true</enabled></snapshots>
            </pluginRepository>
        </pluginRepositories>
    </profile>

    <profile>
        <id>otherRepos</id>
        <repositories>
          <repository>
            <id>Eclipse Paho Repo</id>
            <url>https://repo.eclipse.org/content/repositories/paho-releases/</url>
          </repository>
        </repositories>
    </profile>
    
    <profile>
      <id>liferayofthings</id>
      <properties>
        <!--
        <dist.repo.id>project release</dist.repo.id>
        <dist.repo.url>https://xxxx.Release/</dist.repo.url>

        <dist.repo.snapshot.id>project snapshot</dist.repo.snapshot.id>
        <dist.repo.snapshot.url>https://xxxx.Snapshot/</dist.repo.snapshot.url>
        -->

        <liferay.auto.deploy.dir>${user.home}/projects/liferayofthings/servers/server-mounts/opt/liferay/liferay-home/deploy</liferay.auto.deploy.dir>  

        <!-- disabled for now <liferay.qa.rules>${user.home}/projects/liferayofthings/liferayofthings/docs/QA/</liferay.qa.rules> -->

        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
      </properties>
    </profile>

  </profiles>

</settings>
